<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Cloud</title>
</head>
<body>
    <h2>Welcome to OAuth2.0</h2>
    <h3>View Profile Information</h3>
    <form method="POST" action="/submit">
      <div>
        <input type="text" name="name" placeholder="Name" required>
      </div>
      <div>
        <textarea name="message" placeholder="Message"></textarea>
      </div>
      <div>
        <button href="https://people.googleapis.com/v1/people/me?personFields=names">Authenticate Me</button>
      </div>
    </form>

</body>
</html>