/* -------- NAV STYLES --------- */
.navContainer {
    display: flex;
    list-style: none;
    font-size: 1em;
    flex-wrap: wrap;
    justify-content: center;
}
  
.nav-li {
    padding: .75rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-decoration: none;
    color: #e7265d;
}
  
.nav-li:hover {
    color: #26A69A;;
}


/* --------------- Home Page ---------------------- */
html, body, section {
    background-color: #121212 !important;
    font-family: "Andale Mono";
}

h3.card-title {
    text-transform: uppercase;
    color: rgba(192, 191, 191, 0.80);
}

h2.card-title {
    text-transform: uppercase;
    color: #26A69A;
    font-size: 1.75rem;
}

.home-card {
    background-color: #42454a;
    color: rgba(255,255,255,.85);
    padding: 1rem;
}

#verify {
    background-color: #26A69A;
    color: black;
    padding: .7em;
}

#verify:hover {
    background-color: #e7265d;
    color: white;
}

#displayTable {
    background-color: #4d5157;
    padding: 1rem;
}

th.title {
    color: rgba(255,255,255,.90);
}

#tableBody {
    color: #e7265d;
}

.table-hover > tbody > tr:hover {
    color: white !important;
}