<section class="mt-5">
    <div class="container text-center">
        <div class="card home-card bg-dark">
            <div class="card-body p-4">
                <h2 class="p-3 card-title">ERROR: {{error.status}}</h2>
            </div>
        </div>
    </div>
</section>